<html>
  <head>
    <title>$character.name</title>
<style TYPE="text/css">
	.font4 {  font-family: Arial; font-size:4pt; }
	.font5 {  font-family: Arial; font-size:5pt; }
	.font6 {  font-family: Arial; font-size:6pt; }
	.font7 {  font-family: Arial; font-size:7pt; }
	.font8 {  font-family: Arial; font-size:8pt; }
	.font9 {  font-family: Arial; font-size:9pt; }
	.h { font-family: Arial; font-size:8pt; vertical-align: bottom; }
	.ab { font-family: Arial; font-size:10pt; text-align:center; color:white; background:black; }
	.abb { font-family: Arial; font-size:10pt; text-align:center; font-weight:bold; border: 1px solid black;}
	.abt { font-family: Arial; font-size:10pt; text-align:center; font-weight:bold; border: 5px solid lightgray;}
	.sptab { font-family: Arial; vertical-align:top; text-align:center;font-size:8pt;}
	.sptab1 { font-family: Arial; vertical-align:top; text-align:left;font-size:8pt;}
	.sptab2 { font-family: Arial; vertical-align:top; text-align:right;font-size:8pt;}
	.notetab { font-family: Arial; vertical-align:top;border: 1px solid black; text-align:left;font-size:8pt;}
	.skl { font-family: Arial; font-size: 9pt; font-weight:bold; text-align:center; vertical-align:middle; border: 4px solid black;}
	.spname { font-family: Arial; vertical-align:top; text-align:left;font-size:8pt;}
	.sptop { font-family: Arial; vertical-align:top;border: 1px solid black; text-align:center;font-size:8pt; color:white;}
	.splevel {  font-family: Arial; background:black; text-align:center;font-size:9pt; color:white;}
	.sphead {  font-family: Arial; background:black; text-align:center;font-size:12pt; color:white;}
	.notehead {  font-family: Arial; background:black; text-align:center;font-size:12pt; color:white;}
	.biodata { font-family: Arial; vertical-align:bottom; text-align:left;font-size:9pt;}
		.topline {
		border-top-width:1px;
		border-top: 1pt solid black;
		font-family: Arial;
		font-size:6pt;
	}
	.border {
		border: 1px solid black;
	}
	.border4 {
		border: 1px solid black;
		font-size:4pt;
	}
	.border7 {
		border: 1px solid black;
		font-size:7pt;
	}
	.border8 {
		border: 1px solid black;
		font-size:8pt;
	}
	.border9 {
		border: 1px solid black;
		font-size:9pt;
	}
	.border10 {
		border: 1px solid black;
		font-size:10pt;
	}

	.tempborder {
		border: 5px solid lightgray;
	}
	.borderbottom {
		border-bottom-width:1px;
		border-bottom: 1pt solid black;
	}
	.borderbottom8 {
		border-bottom-width:1px;
		border-bottom: 1pt solid black;
		font-size:8pt;
	}

</style>
    
  </head>
  <body>
    <center><font size="-1">printed using Shard version $runtime.projectVersion at $date</font></center><br/>
	<!-- START General Character Data -->
	<table>
	 <tr>
	  <td colspan="2" class="h">$character.name</td>
	  <td colspan="2" class="h">|PLAYERNAME|</td>
	  <td colspan="1" class="h">$character.alignment.name</td>
	  <td colspan="1" class="h">|DEITY|</td>
	  <td class="h">$character.abilities.totalPointScore</td>
	  <td rowspan="6" align="center" width="1%" class="border"><font style="font-size:10pt"><A HREF="#Bio"><IMG SRC="|PORTRAIT|" height="100" ALT="Click for Bio" BORDER="0"></A><br /></font></td>
	 </tr>
	 <tr>
	  <td colspan="2" class="topline">CHARACTER NAME</td>
	  <td colspan="2" class="topline">PLAYER</td>
	  <td colspan="1" class="topline">ALIGNMENT</td>
	  <td colspan="1" class="topline">DEITY</td>
	  <td class="topline">POINTS</td>
	 </tr>
	 <tr>
	  <td colspan="1" class="h">$character.characterProgression.description</td>
	  <td colspan="1" class="h">$character.experience</td>
	  <td colspan="1" class="h">$character.race.name</td>
	  <td class="h">$character.race.size.name / $character.race.size.reach</td>
	  <td class="h">|HEIGHT|</td>
	  <td class="h">|WEIGHT|</td>
	  <td colspan="1" class="h">$character.race.vision.name</td>
	 </tr>
	 <tr>
	  <td colspan="1" class="topline">CLASS</td>
	  <td colspan="1" class="topline">EXPERIENCE</td>
	  <td colspan="1" class="topline">RACE</td>
	  <td class="topline">SIZE / FACE</td>
	  <td class="topline">HEIGHT</td>
	  <td class="topline">WEIGHT</td>
	  <td colspan="1" class="topline">VISION</td>
	 </tr>
	 <tr>
	  <td class="h">$character.characterProgression.characterLevel</td>
	  <td class="h">|EXP.NEXT|</td>
	  <td class="h">$character.age.currentAge</td>
	  <td class="h">$character.gender.name</td>
	  <td class="h">|COLOR.EYE|</td>
	  <td colspan="2" class="h">|COLOR.HAIR|, |LENGTH.HAIR|</td>
	 </tr>
	 <tr>
	  <td class="topline">LEVEL</td>
	  <td class="topline">NEXT LEVEL</td>
	  <td class="topline">AGE</td>
	  <td class="topline">GENDER</td>
	  <td class="topline">EYES</td>
	  <td colspan="2" class="topline">HAIR</td>
	 </tr>
	</table>
	<!-- END General Character Data -->
  
	<!-- START Page Master Table -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%" summary="Page Master Table">
	  <tr>
	    <td rowspan="2" valign="top">
	      <table summary="Stat Block"> <!-- START Abilities Table -->
	        <tr>
	          <td align="center" width="20%" class="font4">ABILITY<br />NAME</td>
	          <td align="center" width="20%" class="font4">ABILITY<br />SCORE</td>
	          <td align="center" width="20%" class="font4">ABILITY<br />MODIFIER</td>
	        </tr>
#foreach($abilityScore in $abilities)
	        <tr>
	          <td class="ab">
	            <b>$abilityScore.ability.abbreviation</b><br />
	            $abilityScore.ability.abbreviation
	          </td>
	          <td class="abb">$abilityScore.score</td>
	          <td class="abb">$abilityScore.modifier</td>
	        </tr>
#end
	      </table> <!-- STOP Abilities Table -->
	    </td>
	    <td colspan="2" valign="top">
	      <table summary="Hit Point Table"> <!-- START -->
	        <tr>
	          <td align="center" width="50"></td>
	          <td align="center" width="25" valign="bottom"></td>
	          <td align="center"></td>
	          <td align="center" width="119" class="font5"><br />WOUNDS/CURRENT HP</td>
	          <td align="center"></td>
	          <td align="center" width="119" class="font5"><br />SUBDUAL DAMAGE</td>
	          <td align="center"></td>
	          <td align="center" width="60" class="font5"><br />DAMAGE<br />REDUCTION</td>
	          <td align="center"></td>
	          <td align="center" width="60" class="font5"><br />SPEED</td>
	          </tr>
	        <tr>
	          <td align="center" bgcolor="black"><font style="font-size:9pt" color="white"><b>HP</b></font>
	            <font style="font-size:5pt" color="white"><br />Hit Points</font></td>
	          <td align="center" class="border9"><b>$character.hitPoints.maxHitPoints</b></td>
	          <td align="center"><br /></td>
	          <td align="center" class="border9"><br /></td>
	          <td align="center"><br /></td>
	          <td align="center" class="border9"><br /></td>
	          <td align="center"><br /></td>
	          <td align="center" class="border9"><b>&nbsp;|DR|&nbsp;</b></td>
	          <td align="center"><br /></td>
	          <td align="center" class="border9"><b>|MOVEMENT|<br /></b></td>
	          </tr>
	        </table> <!-- STOP Hit Point Table -->
	
	      <table summary="AC Table"> <!-- Armor Class Table -->
	        <tr>
	          <td align="center" bgcolor="black">
	            <font style="font-size:9pt" color="white"><b>AC</b></font><br />
	            <font style="font-size:5pt" color="white">Armor Class</font>
	          </td>
	          <td align="center" class="border9"><b>$character.armorClass.value</b></td>
#foreach ($acModifier in $acModifiers)
	          <td align="center" class="border9"><b>$acModifier.modifier </b></td>
#end
	        </tr>
	        <tr>
	          <td align="center" width="50"></td>
	          <td align="center" width="25" valign="top"><font style="font-size: 6pt"><b>TOTAL</b></font></td>
#foreach ($acModifier in $acModifiers)
	          <td align="center" class="border9"><b>$acModifier.modifierType.name <br/>Bonus</b></td>
#end
            </tr>
	      </table> <!-- STOP AC Table -->
	    </td>
	  </tr>
	  <tr>
	    <td valign="top">
	<!-- START Initiative Table -->
	    <table width="100%" summary="Initiative Table">
	      <tr>
	        <td align="center" bgcolor="black"><font style="font-size:9pt" color="white"><b>INITIATIVE</b></font><font style="font-size:5pt" color="white"><br />Modifier</font></td>
	        <td align="center" class="border10"><b>|INITIATIVEMOD|</b></td>
	        <td align="center" class="font7"><b>=</b></td>
	        <td align="center" class="border10"><b>|STAT.1.MOD|</b></td>
	        <td align="center" class="font7"><b>+</b></td>
	        <td align="center" class="border10"><b>|INITIATIVEBONUS|</b></td>
	        <td width="50%" rowspan="2" align="center"><br /></td>
	     </tr>
	     <tr>
	       <td align="center" width="50" class="font7"></td>
	       <td align="center" width="25" valign="top" class="font7">TOTAL</td>
	       <td align="center"></td>
	       <td align="center" width="25" class="font5">DEX</td>
	       <td align="center"></td>
	       <td align="center" width="25" class="font5">MISC</td>
	     </tr>
	   </table>
	<!-- STOP Initiative Table -->
	<!-- START Base Attack Table -->
	   <table width="100%" summary="Base Attack Table">
	    <tr>
	     <td align="center" bgcolor="black"><font style="font-size:9pt" color="white"><b>BASE ATTACK</b></font><font style="font-size:5pt" color="white"><br />Bonus</font></td>
	     <td align="center" width="94" class="border"><font style="font-size: 10pt"><b>$character.baseAttackBonus<br /></b></font></td>
	     <td align="center" width="50%"><br /></td>
	    </tr>
	   </table>
	<!-- STOP Base Attack Table -->
	  </td>
	  <td rowspan="2" valign="top" width="50%">
	<!-- START Skills Table -->
	   <table cellpadding="0" cellspacing="0" border="0" width="100%" summary="Skills Table">
	    <tr>
	     <td height="30" bgcolor="black"></td>
	     <td height="30" bgcolor="black" align="center"><font style="font-size: 9pt" color="white"><b>SKILLS</b></font></td>
	     <td colspan="4" height="30" bgcolor="black" align="center"></td>
	     <td height="30" bgcolor="black" align="right" ></td>
	     <td height="30" bgcolor="black" align="center"><font style="font-size: 7pt" color="white" >MAX<br />RANKS</font></td>
	     <td colspan="2" height="30"  bgcolor="white" align="center" class="skl">
	       <b>$character.skills.maxClassSkillLevel/$character.skills.maxCrossClassSkillLevel</b>
	     </td>
	    </tr>
	    <tr>
	     <td colspan="2" align="center" width="40%" class="border4">SKILL NAME</td>
	     <td align="center" width="5%" class="border4">ABILITY</td>
	     <td align="center" width="13%" colspan="1" class="border4">SKILL<br />MODIFIER</td>
	    </tr>
	    #foreach ($skillEntry in $skills)
	    <tr>
	     <td align="center">
	       #if ($skillEntry.skill.usableUntrained)
  	         *
	       #end
	     </td>
	     <td align="left" class="font8">&nbsp;&nbsp;$skillEntry.skill.name</td>
	     <td align="center" class="font8">$skillEntry.skill.ability.abbreviation</td>
	     <td align="center" class="borderbottom8" valign="bottom"><b>$skillEntry.value</b></td>
	    </tr>
	    #end
	   </table>
	   * = Useable Untrained
	<!-- STOP Skills Table -->
	  </td>
	 </tr>
	 <tr>
	<!-- START Saving Throws Table -->
	   <table width="100%" summary="Saving Throws">
	    <tr>
	     <td align="center" class="font4">SAVING THROWS</td>
	     <td align="center" width="25" class="font4">TOTAL</td>
	    </tr>
#foreach ($save in $saves)
	    <tr>
	     <td align="center" bgcolor="black"><font style="font-size:10pt" color="white"><b>$save.save.name</b></font><font style="font-size:5pt" color="white"><br />$save.save.ability.abbreviation</font></td>
	     <td align="center" class="border10"><b>$save.modifier</b></td>
        </tr>
#end	    
   </table>
<!-- STOP Saving Throws Table -->
	 </tr>
	</table>  

	<!-- END Page Master Table -->
	<table width="100%" border="0" summary="Page 2 Master Table"> <!-- Master Page Table -->
	 <tr>
	  <td colspan="2" width="100%" valign="top">
	<!-- START Equipment Table -->
	   <table width="100%" cellspacing="0" cellpadding="0" border="0" summary="Master Equipment Table"> <!-- Master Equipment Table -->
	    <tr>
	     <td bgcolor="black" align="center" colspan="10"><font color="white" style="font-size: 9pt"><b>EQUIPMENT</b></font></td>
	    </tr>
	    <tr>
	     <td width="50%" valign="top">
	      <table width="100%" cellspacing="0" cellpadding="0" border="0" summary="Equipment Table Left Column"> <!-- Equipment Table left pane -->
	       <tr>
	        <td valign="top" width="70%" class="border8"><b>ITEM</b></td>
	        <td valign="top" width="12%" class="border8" align="center"><b>LOCATION</b></td>
	        <td valign="top" width="6%" class="border8" align="center"><b>QTY</b></td>
	        <td valign="top" width="6%" class="border8" align="center"><b>WT.</b></td>
	        <td valign="top" width="6%" class="border8" align="center"><b>COST</b></td>
	       </tr>
	       #foreach ($item in $items)
	       <tr #if($renderTool.isEven($velocityCount)) bgcolor="#DDDDDD" #end>
	        <td valign="top" class="border8">$item.name</td>
	        <td valign="top" class="border8" align="center">|EQ.Not.Coin.NOT.Gem.%equip1.LOCATION|</td>
	        <td valign="top" class="border8" align="center">$item.quantity</td>
	        <td valign="top" class="border8" align="center">$item.weight</td>
	        <td valign="top" class="border8" align="center">$item.cost</td>
	       </tr>
	       #end
	       <tr>
	        <td valign="top" width="41%" class="border" align="right" colspan="1"><font style="font-size: 8pt">TOTAL WEIGHT CARRIED/VALUE&nbsp;&nbsp;</font></td>
	        <td valign="top" width="3%" class="border" align="center" colspan="2" NOWRAP><font style="font-size: 8pt">$character.inventory.totalWeight</font></td>
	        <td valign="top" width="3%" class="border" align="center" colspan="2" NOWRAP><font style="font-size: 8pt">$character.inventory.totalCost</font></td>
	       </tr>
	      </table>
	     </td>
	    </tr>
	   </table>
	<!-- STOP Equipment Table -->
	  </tr>
	  <tr>
	   <td width="50%" valign="top">
	<!-- START Weight Table -->
	    <table width="100%" cellspacing="0" cellpadding="3" summary="Weight Allowance Table">
	     <tr>
	      <td bgcolor="black" align="center" colspan="6"><font color="white" style="font-size: 9pt"><b>WEIGHT ALLOWANCE</b></font></td>
	     </tr>
	     <tr>
	      <td valign="top" class="border8" align="right"><B>Light</B></td>
	      <td valign="top" class="border8">|WEIGHT.LIGHT|</td>
	      <td valign="top" class="border8" align="right"><B>Medium</B></td>
	      <td valign="top" class="border8">|WEIGHT.MEDIUM|</td>
	      <td valign="top" class="border8" align="right"><B>Heavy</B></td>
	      <td valign="top" class="border8">|WEIGHT.HEAVY|</td>
	     </tr>
	    </table>
	<!-- STOP Weight Table -->
	    <font style="font-size:2pt"><br /></font>
	<!-- START Money Table -->
	    <table width="100%" cellspacing="0" cellpadding="3" summary="Money">
	     <tr>
	      <td bgcolor="black" align="center" colspan="1"><font color="white" style="font-size: 9pt"><b>MONEY</b></font></td>
	     </tr>
	     <tr>
	      <td valign="top" width="70%" class="border"><font style="font-size: 8pt">
#foreach ($coin in $coins)
			  $coin.name: $coin.quantity <br/> 
#end
		  </font></td>
	     </tr>
	    </table>
	<!-- STOP Money Table -->
	
  </body>
</html>