<html>
  <head>
    <title>$character.name</title>
  </head>
  <body>
    printed using Shard version $runtime.projectVersion at $date
	<!-- START General Character Data -->
	<table>
	 <tr>
	  <td colspan="2">$character.name</td>
	  <td colspan="2">|PLAYERNAME|</td>
	  <td>$character.alignment.name</td>
	  <td>|DEITY|</td>
	  <td>$character.abilities.totalPointScore</td>
	  <td rowspan="6"><IMG SRC="|PORTRAIT|" height="100"></td>
	 </tr>
	 <tr>
	  <td colspan="2">CHARACTER NAME</td>
	  <td colspan="2">PLAYER</td>
	  <td>ALIGNMENT</td>
	  <td>DEITY</td>
	  <td>POINTS</td>
	 </tr>
	 <tr>
	  <td>$character.characterProgression.name</td>
	  <td>$character.experience</td>
	  <td>$character.race.name</td>
	  <td>$character.race.size.name / $character.race.size.reach</td>
	  <td>|HEIGHT|</td>
	  <td>|WEIGHT|</td>
	  <td>$character.race.vision.name</td>
	 </tr>
	 <tr>
	  <td>CLASS</td>
	  <td>EXPERIENCE</td>
	  <td>RACE</td>
	  <td>SIZE / REACH</td>
	  <td>HEIGHT</td>
	  <td>WEIGHT</td>
	  <td>VISION</td>
	 </tr>
	 <tr>
	  <td>$character.characterProgression.characterLevel</td>
	  <td>|EXP.NEXT|</td>
	  <td>$character.age.currentAge</td>
	  <td>$character.gender.name</td>
	  <td>|COLOR.EYE|</td>
	  <td colspan="2">|COLOR.HAIR|, |LENGTH.HAIR|</td>
	 </tr>
	 <tr>
	  <td>LEVEL</td>
	  <td>NEXT LEVEL</td>
	  <td>AGE</td>
	  <td>GENDER</td>
	  <td>EYES</td>
	  <td colspan="2">HAIR</td>
	 </tr>
	</table>
	<!-- END General Character Data -->
  
	<!-- START Page Master Table -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%" summary="Page Master Table">
	  <tr>
	    <td rowspan="2" valign="top">
	      <table summary="Stat Block"> <!-- START Abilities Table -->
	        <tr>
	          <td align="center" width="20%" class="font4">ABILITY<br />NAME</td>
	          <td align="center" width="20%" class="font4">ABILITY<br />SCORE</td>
	          <td align="center" width="20%" class="font4">ABILITY<br />MODIFIER</td>
	        </tr>
	        $character.abilities.abilityScores
	        #foreach($abilityScore in $character.abilites.getAbilityScores())
	        <tr>
	          <td><b>$abilityScore.ability.abbreviation</b><br />$abilityScore.ability.name</td>
	          <td>$abilityScore.value</td>
	          <td>$abilityScore.modifier</td>
	        </tr>
	        #end
	      </table> <!-- STOP Abilities Table -->
	    </td>
	    <td colspan="2" valign="top">
	      <table summary="Hit Point Table"> <!-- START -->
	        <tr>
	          <td align="center" width="50"></td>
	          <td align="center" width="25" valign="bottom"></td>
	          <td align="center"></td>
	          <td align="center" width="119" class="font5"><br />WOUNDS/CURRENT HP</td>
	          <td align="center"></td>
	          <td align="center" width="119" class="font5"><br />SUBDUAL DAMAGE</td>
	          <td align="center"></td>
	          <td align="center" width="60" class="font5"><br />DAMAGE<br />REDUCTION</td>
	          <td align="center"></td>
	          <td align="center" width="60" class="font5"><br />SPEED</td>
	          </tr>
	        <tr>
	          <td align="center" bgcolor="black"><font style="font-size:9pt" color="white"><b>HP</b></font>
	            <font style="font-size:5pt" color="white"><br />Hit Points</font></td>
	          <td align="center" class="border9"><b>$character.hitpoints.max</b></td>
	          <td align="center"><br /></td>
	          <td align="center" class="border9"><br /></td>
	          <td align="center"><br /></td>
	          <td align="center" class="border9"><br /></td>
	          <td align="center"><br /></td>
	          <td align="center" class="border9"><b>&nbsp;|DR|&nbsp;</b></td>
	          <td align="center"><br /></td>
	          <td align="center" class="border9"><b>|MOVEMENT|<br /></b></td>
	          </tr>
	        </table> <!-- STOP Hit Point Table -->
	
	      <table summary="AC Table"> <!-- Armor Class Table -->
	        <tr>
	          <td align="center" bgcolor="black"><font style="font-size:9pt" color="white"><b>AC</b></font>
	            <font style="font-size:5pt" color="white"><br />Armor Class</font></td>
	          <td align="center" class="border9"><b>$character.armorClass.value</b></td>
	          <td align="center" class="font7"><b>:</b></td>
	          <td align="center" class="border9"><b>|AC.Flatfooted|</b></td>
	          <td align="center" class="font7"><b>:</b></td>
	          <td align="center" class="border9"><b>|AC.Touch|</b></td>
	          <td align="center" class="font7"><b>=</b></td>
	          <td align="center" class="border9"><b>|AC.Base|</b></td>
	          <td align="center" class="font7"><b>+</b></td>
	          <td align="center" class="border9"><b>|AC.Armor|</b></td>
	          <td align="center" class="font7"><b>+</b></td>
	          <td align="center" class="border9"><b>|AC.Shield|</b></td>
	          <td align="center" class="font7"><b>+</b></td>
	          <td align="center" class="border9"><b>|AC.Ability|</b></td>
	          <td align="center" class="font7"><b>+</b></td>
	          <td align="center" class="border9"><b>|AC.Size|</b></td>
	          <td align="center" class="font7"><b>+</b></td>
	          <td align="center" class="border9"><b>|AC.NaturalArmor|</b></td>
	          <td align="center" class="font7"><b>+</b></td>
	          <td align="center" class="border9"><b>|AC.Misc|</b></td>
	          <td align="center" width="5"></td>
	          <td align="center" class="border9"><br /></td>
	          <td align="center"></td>
	          <td align="center" class="border9"><b>|SPELLFAILURE|</b></td>
	          <td align="center"></td>
	          <td align="center" class="border9"><b>|ACCHECK|</b></td>
	          <td align="center"></td>
	          <td align="center" class="border9"><b>|MAXDEX|</b></td>
	          <td align="center"></td>
	          <td align="center" class="border9"><b>|SR|</b></td>
	          <td align="center"></td>
	          <td align="center" class="border9"><b>&nbsp;</b></td>
	          </tr>
	        <tr>
	          <td align="center" width="50"></td>
	          <td align="center" width="25" valign="top"><font style="font-size: 6pt"><b>TOTAL</b></font></td>
	          <td align="center"></td>
	          <td align="center" width="25" valign="top"><font style="font-size: 6pt"><b>FLAT</b></font></td>
	          <td align="center"></td>
	          <td align="center" width="25" valign="top"><font style="font-size: 6pt"><b>TOUCH</b></font></td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">BASE</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">ARMOR<br />BONUS</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">SHIELD<br />BONUS</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">STAT<br />BONUS</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">SIZE<br />BONUS</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">NATURAL<br />ARMOR</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">MISC<br />BONUS</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">MISS<br />CHANCE</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">ARCANE<br />FAILURE</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">ARMOR<br />CHECK</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">MAX<br />DEX</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">SPELL<br />RESIST.</td>
	          <td align="center"></td>
	          <td align="center" width="25" class="font4">TEMP</td>
	          </tr>
	        </table> <!-- STOP AC Table -->
	      </td>
	    </tr>
	  <tr>
	  <td valign="top">
	<!-- START Initiative Table -->
	   <table width="100%" summary="Initiative Table">
	    <tr>
	     <td align="center" bgcolor="black"><font style="font-size:9pt" color="white"><b>INITIATIVE</b></font><font style="font-size:5pt" color="white"><br />Modifier</font></td>
	     <td align="center" class="border10"><b>|INITIATIVEMOD|</b></td>
	     <td align="center" class="font7"><b>=</b></td>
	     <td align="center" class="border10"><b>|STAT.1.MOD|</b></td>
	     <td align="center" class="font7"><b>+</b></td>
	     <td align="center" class="border10"><b>|INITIATIVEBONUS|</b></td>
	     <td width="50%" rowspan="2" align="center"><br /></td>
	    </tr>
	    <tr>
	     <td align="center" width="50" class="font7"></td>
	     <td align="center" width="25" valign="top" class="font7">TOTAL</td>
	     <td align="center"></td>
	     <td align="center" width="25" class="font5">DEX</td>
	     <td align="center"></td>
	     <td align="center" width="25" class="font5">MISC</td>
	    </tr>
	   </table>
	<!-- STOP Initiative Table -->
	<!-- START Base Attack Table -->
	   <table width="100%" summary="Base Attack Table">
	    <tr>
	     <td align="center" bgcolor="black"><font style="font-size:9pt" color="white"><b>BASE ATTACK</b></font><font style="font-size:5pt" color="white"><br />Bonus</font></td>
	     <td align="center" width="94" class="border"><font style="font-size: 10pt"><b>$character.baseAttackBonus<br /></b></font></td>
	     <td align="center" width="50%"><br /></td>
	    </tr>
	   </table>
	<!-- STOP Base Attack Table -->
	  </td>
	  <td rowspan="2" valign="top" width="50%">
	<!-- START Skills Table -->
	   <table cellpadding="0" cellspacing="0" border="0" width="100%" summary="Skills Table">
	    <tr>
	     <td height="30" bgcolor="black"></td>
	     <td height="30" bgcolor="black" align="center"><font style="font-size: 9pt" color="white"><b>SKILLS</b></font></td>
	     <td colspan="4" height="30" bgcolor="black" align="center"></td>
	     <td height="30" bgcolor="black" align="right" ></td>
	     <td height="30" bgcolor="black" align="center"><font style="font-size: 7pt" color="white" >MAX<br />RANKS</font></td>
	     <td colspan="2" height="30"  bgcolor="white" align="center" class="skl"><b>$character.skills.maxSkillLevel/$character.skills.maxCrossClassSkillLevel</b></td>
	    </tr>
	    <tr>
	     <td colspan="2" align="center" width="40%" class="border4">SKILL NAME</td>
	     <td align="center" width="5%" class="border4">ABILITY</td>
	     <td align="center" width="13%" colspan="1" class="border4">SKILL<br />MODIFIER</td>
	     <td align="center" width="13%" colspan="2" class="border4">ABILITY<br />MODIFIER</td>
	     <td align="center" width="13%" colspan="2" class="border4">RANKS</td>
	     <td align="center" width="13%" colspan="2" class="border4">MISC<br />MODIFIER</td>
	    </tr>
	    #foreach ($skillEntry in $character.skills.skillEntries)
	    <tr>
	     <td align="center">
	       #if ($skillEntry.skill.usableUntrained)
  	         *
	       #end
	     </td>
	     <td align="left" class="font8">&nbsp;&nbsp;$skillEntry.skill.name</td>
	     <td align="center" class="font8">$skillEntry.skill.ability.abbreviation</td>
	     <td align="center" class="borderbottom8" valign="bottom"><b>$skillEntry.value</b></td>
	     <td align="center" valign="bottom" class="font8"><b>=</b></td>
	     <td align="center" class="borderbottom8" valign="bottom">|SKILL.%skill.ABMOD|<br /></td>
	     <td align="center" valign="bottom" class="font8"><b>+</b></td>
	     <td align="center" class="borderbottom8" valign="bottom">$skillEntry.rank<br /></td>
	     <td align="center" valign="bottom" class="font8"><b>+</b></td>
	     <td align="center" class="borderbottom8" valign="bottom">|SKILL.%skill.MISC|<br /></td>
	    </tr>
	    #end
	   </table>
	   * = Useable Untrained
	<!-- STOP Skills Table -->
	  </td>
	 </tr>
	</table>  

	<!-- END Page Master Table -->
	<table width="100%" border="0" summary="Page 2 Master Table"> <!-- Master Page Table -->
	 <tr>
	  <td colspan="2" width="100%" valign="top">
	<!-- START Equipment Table -->
	   <table width="100%" cellspacing="0" cellpadding="0" border="0" summary="Master Equipment Table"> <!-- Master Equipment Table -->
	    <tr>
	     <td bgcolor="black" align="center" colspan="10"><font color="white" style="font-size: 9pt"><b>EQUIPMENT</b></font></td>
	    </tr>
	    <tr>
	     <td width="50%" valign="top">
	      <table width="100%" cellspacing="0" cellpadding="0" border="0" summary="Equipment Table Left Column"> <!-- Equipment Table left pane -->
	       <tr>
	        <td valign="top" width="70%" class="border8"><b>ITEM</b></td>
	        <td valign="top" width="12%" class="border8" align="center"><b>LOCATION</b></td>
	        <td valign="top" width="6%" class="border8" align="center"><b>QTY</b></td>
	        <td valign="top" width="6%" class="border8" align="center"><b>WT.</b></td>
	        <td valign="top" width="6%" class="border8" align="center"><b>COST</b></td>
	       </tr>
	       #foreach ($item in $character.inventory.items)
	       <tr #if($renderTool.isEven($velocityCount)) bgcolor="#DDDDDD" #end>
	        <td valign="top" class="border8">$item.name</td>
	        <td valign="top" class="border8" align="center">|EQ.Not.Coin.NOT.Gem.%equip1.LOCATION|</td>
	        <td valign="top" class="border8" align="center">|EQ.Not.Coin.NOT.Gem.%equip1.QTY|</td>
	        <td valign="top" class="border8" align="center">$item.weight</td>
	        <td valign="top" class="border8" align="center">$item.cost</td>
	       </tr>
	       #end
	       <tr>
	        <td valign="top" width="41%" class="border" align="right" colspan="1"><font style="font-size: 8pt">TOTAL WEIGHT CARRIED/VALUE&nbsp;&nbsp;</font></td>
	        <td valign="top" width="3%" class="border" align="center" colspan="2" NOWRAP><font style="font-size: 8pt">$character.inventory.totalWeight</font></td>
	        <td valign="top" width="3%" class="border" align="center" colspan="2" NOWRAP><font style="font-size: 8pt">$character.inventory.totalCost</font></td>
	       </tr>
	      </table>
	     </td>
	    </tr>
	   </table>
	<!-- STOP Equipment Table -->
	  </tr>
	  <tr>
	   <td width="50%" valign="top">
	<!-- START Weight Table -->
	    <table width="100%" cellspacing="0" cellpadding="3" summary="Weight Allowance Table">
	     <tr>
	      <td bgcolor="black" align="center" colspan="6"><font color="white" style="font-size: 9pt"><b>WEIGHT ALLOWANCE</b></font></td>
	     </tr>
	     <tr>
	      <td valign="top" class="border8" align="right"><B>Light</B></td>
	      <td valign="top" class="border8">|WEIGHT.LIGHT|</td>
	      <td valign="top" class="border8" align="right"><B>Medium</B></td>
	      <td valign="top" class="border8">|WEIGHT.MEDIUM|</td>
	      <td valign="top" class="border8" align="right"><B>Heavy</B></td>
	      <td valign="top" class="border8">|WEIGHT.HEAVY|</td>
	     </tr>
	    </table>
	<!-- STOP Weight Table -->
	    <font style="font-size:2pt"><br /></font>
	<!-- START Money Table -->
	    <table width="100%" cellspacing="0" cellpadding="3" summary="Money">
	     <tr>
	      <td bgcolor="black" align="center" colspan="1"><font color="white" style="font-size: 9pt"><b>MONEY</b></font></td>
	     </tr>
	     <tr>
	      <td valign="top" width="70%" class="border"><font style="font-size: 8pt">
	|FOR.0,COUNT[EQTYPE.Coin],1,\EQTYPE.Coin.%.NAME\: \EQTYPE.Coin.%.QTY\, ,<br/>,1|
	|FOR.0,COUNT[EQTYPE.Gem],1,\EQTYPE.Gem.%.QTY\x\EQTYPE.Gem.%.NAME\ (\EQTYPE.Gem.%.COST\) , ,<br/>,1|
	|MISC.FUNDS,<br />|</font></td>
	     </tr>
	    </table>
	<!-- STOP Money Table -->
	
  </body>
</html>